# .ssh config reset
# creates config_dir directory if it doesn't exist
mkdir -p ~/.ssh/config_dir
# concacts all different configs in config_dir into one main ssh config file
cat ~/.ssh/config_dir/* > ~/.ssh/config

# Update system php to 5.7
export PATH=/usr/local/php5/bin:$PATH

# set up global composer alias with xdebug disabled
alias composer="php -n ~/composer.phar"
alias composerx="php ~/composer.phar"

# Helpfull aliases for mucho speed
alias hm="cd ~/Homestead"
alias srv="cd ~/srv"
alias dev="cd ~/dev"
alias vn="vagrant"
