# .ssh config reset
mkdir -p ~/.ssh/config_dir
cat ~/.ssh/config_dir/* > ~/.ssh/config

# Update system php to 5.7
export PATH=/usr/local/php5/bin:$PATH

# set up global composer alias with xdebug disabled
alias composer="php -n ~/composer.phar"
alias composerx="php ~/composer.phar"

# Helpfull aliases for mucho speed
alias hm="cd ~/Homestead"
alias srv="cd ~/srv"
alias dev="cd ~/dev"
alias vn="vagrant"
alias homestead="~/Homestead/homestead"


## SMUGMUG #####################################
# Synchrotron aliases.
for i in {1..10}; do
    alias sync-sandbox-$i="synchrotron --notify --exclude-from ~/.synchrotron-ignore amol@amol.smugmug.net:/home/amol/sandboxes/amol-$i/ ~/dev/SmugMug/"
done

# synchrotron for media  
alias sync-media="synchrotron --notify --exclude-from ~/.synchrotron-ignore amol@amol.smugmug.net:/home/amol/repos/Media/ ~/dev/Media/"
